.container {
    display: flex;
    height: 100vh;
}
.left {
    flex-basis: 300px;
    height: 100vh;
    background-color: gray;
    overflow-y: auto;
}
.right {
    flex-grow: 1;
    height: 100vh;
    background-color: gainsboro;
    overflow-y: auto;
}
.picture {
    padding-top: 9px;
    padding-left: 9px;
    padding-bottom: 9px;
}
.button {
    display: block;
    width: 100%;
    padding: 8px 4px;
    text-align: left;
}
